<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 변경</title>
  <link rel="stylesheet" href="" th:href="@{/css/member.css}">
</head>
<body>
<div class="form-container">
  <h2>회원정보 수정</h2>
  <form th:object="${editForm_Pwd}" th:action="@{/mypage/password}" method="post">

    <div class="form-group">
      <label for="pwd">새 비밀번호</label>
      <input type="password" id="pwd" th:field="*{pwd}" required>
      <div class="field-err" th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></div>
    </div>

    <div class="button-group">
      <button type="button" class="btn-cancel" onclick="location.href='/mypage'">취소</button>
      <button type="submit" class="btn-submit">변경 완료</button>
    </div>

  </form>
</div>
</body>
</html>