<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>마이페이지 - 문의사항</title>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/mypage.css}">
</head>
<body>
<div th:replace="~{fragments/topmenu :: topmenu-section}"></div>

<div th:replace="~{fragments/topmenu :: header}"></div>

<div class="mypage-container">
  <aside class="mypage-sidebar">
    <ul>
      <li><a href="/mypage/edit">회원정보 관리</a></li>
      <li><a href="/mypage/likes">찜한 캠핑장</a></li>
      <li><a href="/mypage/posts">내가 쓴 게시글</a></li>
      <li class="now"><a href="/mypage/inquiry">문의사항</a></li>
    </ul>
  </aside>
</div>
</body>
</html>