<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 가입</title>
  <link rel="stylesheet" th:href="@{/css/member.css}">
</head>

<body>
<div class="join-container">
  <img src="/images/모닥불즈로고.png" alt="로고" class="login-logo">
  <h3 class="join-title">회 원 가 입</h3>
  <form th:action="@{/member/join}" th:method="post" th:object="${joinForm}">
    <!-- 글로벌 에러 메시지 -->
    <div th:if="${#fields.hasGlobalErrors()}">
      <p class="global-err" th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
    </div>

    <!-- 아이디 -->
    <div class="join-form-group">
      <label th:for="id"> 아이디 : </label>
      <input type="text" th:field="*{id}">
      <div class="field-err" th:each="err : ${#fields.errors('id')}">
        <span th:text="${err}"></span>
      </div>
    </div>

    <!-- 비밀번호 -->
    <div class="join-form-group">
      <label th:for="pwd"> 비밀번호 : </label>
      <input type="password" th:field="*{pwd}">
      <div class="field-err" th:each="err : ${#fields.errors('pwd')}">
        <span th:text="${err}"></span>
      </div>
    </div>

    <!-- 비밀번호 확인 -->
    <div class="join-form-group">
      <label th:for="pwdChk"> 비밀번호확인 : </label>
      <input type="password" th:field="*{pwdChk}">
      <div class="field-err" th:each="err : ${#fields.errors('pwdChk')}">
        <span th:text="${err}"></span>
      </div>
    </div>

    <!-- 이메일 -->
    <div class="join-form-group">
      <label th:for="email"> 이메일주소 : </label>
      <input type="email" th:field="*{email}">
      <div class="field-err" th:each="err : ${#fields.errors('email')}">
        <span th:text="${err}"></span>
      </div>
    </div>

    <!-- 전화번호 -->
    <div class="join-form-group">
      <label th:for="tel"> 전화번호 : </label>
      <input type="tel" th:field="*{tel}">
      <div class="field-err" th:each="err : ${#fields.errors('tel')}">
        <span th:text="${err}"></span>
      </div>
    </div>

    <!-- 지역 -->
    <div class="join-form-group">
      <label for="region">지역</label>
      <select name="region" id="region">
        <option value="" selected>=====선택=====</option>
        <option value="서울" th:selected="${joinForm.region == '서울'}">서울</option>
        <option value="부산" th:selected="${joinForm.region == '부산'}">부산</option>
        <option value="대구" th:selected="${joinForm.region == '대구'}">대구</option>
        <option value="울산" th:selected="${joinForm.region == '울산'}">울산</option>
      </select>
    </div>

    <!-- 성별 -->
    <div class="join-form-group">
      <label for="gender">성별:</label>
      <select name="gender" id="gender" th:field="*{gender}">
        <option value="">=====선택=====</option>
        <option value="남">남자</option>
        <option value="여">여자</option>
      </select>
    </div>

    <!-- 닉네임 -->
    <div class="join-form-group">
      <label th:for="nickname"> 닉네임 : </label><input type="text" th:field="*{nickname}">
      <div class="field-err" th:each="err : ${#fields.errors('nickname')}">
        <span th:text="${err}"></span>
      </div>
    </div>
    <div class="button-group">
      <button type="submit" class="join-button">가입</button>
      <button type="button" class="join-button" onclick="location.href='/'">취소</button>
    </div>
  </form>
</div>
</body>
</html>