<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <style>
    /* 로그아웃 버튼을 링크처럼 보이게 하는 스타일 */
    .logout-form {
      display: inline;
    }
    .logout-button {
      background: none;
      border: none;
      padding: 0;
      color: white;
      text-decoration: none;
      cursor: pointer;
      font-family: inherit;
      font-size: inherit;
    }
  </style>
</head>
<body>

<th:block th:fragment="topmenu-section">
  <div sec:authorize="isAnonymous()">
    <div class="topmenu">
      <p><a th:href="@{/login}">로그인</a> <span>||</span> <a th:href="@{/member/join}">회원가입</a></p>
    </div>
  </div>
  <div sec:authorize="isAuthenticated()">
    <div class="topmenu">
      <p>
        <span th:text="${#authentication.principal.nickname} + '님, 환영합니다!'"></span>
        <span>||</span>
        <a th:if="${#authentication.principal.gubun == 'U'}" th:href="@{/mypage}">마이페이지</a>
        <a th:if="${#authentication.principal.gubun == 'A'}" th:href="@{/admin}">관리자 대시보드</a>
        <span>||</span>
      <form th:action="@{/logout}" method="post" class="logout-form">
        <button type="submit" class="logout-button">로그아웃</button>
      </form>
      </p>
    </div>
  </div>
</th:block>

<th:block th:fragment="header">
  <header>
    <a href="/" class="header-left">
      <img th:src="@{/images/모닥불즈로고.png}" alt="모닥불즈 로고 아이콘" class="logo-icon" />
      <div class="logo-text">
        <div class="logo-main">모닥<span class="highlight">불</span>즈</div>
        <div class="logo-sub">캠핑장 리뷰 및 정보공유 서비스</div>
      </div>
    </a>
    <div class="header-center">
      <div>Camping with us !</div>
      <div>Camping with fire !</div>
    </div>
    <div class="header-right">
      <img th:src="@{/images/캠핑카로고.png}" alt="캠핑 밴" class="van-img" />
    </div>
  </header>
</th:block>

</body>
</html>