<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 작성</title>
</head>
<body>

<h1>게시글 작성</h1>

<form action="#" th:action="@{/posts/community/save}" th:object="${communityForm}" method="post">
  <div>
    <label>제목</label>
    <input type="text" th:field="*{title}" />
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  </div>
  <div>
      <label for="writer">작성자</label>
      <input type="text" id="writer" th:field="*{writer}" readonly />
  </div>
  <div>
    <label>내용</label>
    <textarea th:field="*{content}"></textarea>
    <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
  </div>
  <button type="submit">등록</button>
  <button type="button" onclick="location.href='/posts/community'">취소</button>
</form>

</body>
</html>
